h4 {
    float: right;
}

h1 {
    float: left;
}

#username-input, #password-input {
    width: 80%;
}

#registerTxt {
    margin-top: 30px;
    margin-bottom: 10px;
}

#kudoReceiver {
    float: right;
}

#kudoBody {
    width: 80%;
    height: 40px;
}